<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Debug</key>
    <dict>
        <key>api-url</key>
        <string>http://localhost:9393</string>
    </dict>
    <key>Test</key>
    <dict>
        <key>api-url</key>
        <string>http://public-url</string>
    </dict>
</dict>
</plist>
